# Flask==3.0.0
# gunicorn==20.1.0
# Werkzeug==3.0.1

Flask==2.2.2
gunicorn
Werkzeug==2.2.2
azure-storage-blob
opencv-python-headless
# mediapipe
ultralytics
flask_wtf
# pyopenssl
moviepy
pathlib
# uwsgi==2.0.22
# Flask==3.0.0